:root {
  --primaryColor: #282c34;
  --secondColor: #abc123;
  --altColor: #123abc;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.gitHubLinks {
  margin-top: 30px;
  display: flex;
  justify-content: center;
  gap: 50px;
}

.iconContainer {
  background-color: #282c34;
  color: white;
  display: flex;
  align-items: center;
  padding: 10px;
  border-radius: 20px;
}
.icon {
  height: 30px;
  width: 30px;
  background-image: url('../public/github.svg');
  background-repeat: no-repeat;
  background-size: cover;
  display: inline;
  margin-right: 5px;
}

.navbar {
  display: grid;
  grid-template-columns: 330px 1fr minmax(450px, 620px);
  background-image: url('../public/background.svg');
  color: #282c34;
}

.navContainer {
  grid-column-start: 3;
  display: grid;
  grid-template-columns: repeat(5, minmax(80px, 120px));
  gap: 5px;
}

.navContainer a {
  font-size: large;
  font-weight: bold;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  max-width: 120px;
  color:#282c34;
}

#title {
  font-size: 50px;
  font-weight: bolder;
  color: #282c34;
  text-decoration: none;
  text-align: start;
  padding: 10px;
}

a {
  text-decoration: none;
  text-align: center;
}

.welcome {
  padding: 15px;
  text-align: center;
  font-size: x-large;
  color: #282c34;
  font-weight: bold;
}

.home {
  text-align: center;
  width: min(100vw, 600px);
  background-color: #282c34;
  color: white;
  padding: 5px 15px;
}

.update {
  background-color: blue;
  font-weight: bold;
  padding: 10px;
  margin-bottom: 20px;
  color: white;
  width: 200px;
}

.recipeList {
  background-color: rgba(31, 29, 29, 0.826);
  padding: 20px;
}

#exploreTitle {
  color: white;
  font-size: x-large;
  font-weight: bolder;
  text-align: center;
}

.background {
  padding: 20px;
}

.recipeCard {
  border-radius: 15px;
  background-color: white;
  border: 3px solid red;
  height: 200px;
  width: 200px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-weight: bold;
}
.RCtitle {
  color: #282c34; 
  font-size: larger;
  font-weight: bolder;
}

.recipeCardContainer {
  background-image: url('../public/background.svg');
  background-color: white;
  display: grid;
  grid-template-columns: repeat(auto-fit, 250px);
  grid-template-rows: repeat(auto-fit, 250px);
  gap: 25px;
}

.creator {
  text-align: center;
  color: white;
  font-size: large;
}

.description {
  color: white;
}

.ingreTitle, .stepTitle {
  color: white;
  font-size: larger;
  text-decoration: underline;
}

.ingredients, .steps {
  color: white;
  margin-top: 5px;
  margin-bottom: 15px;
  font-size: large;
  padding-left: 20px;
}

.notes {
  color: white;
}

.notesTitle {
  text-decoration: underline;
  color: white;
}

.editRecipe, .deleteRecipe {
  color:#282c34;
  background-color: white;
  font-weight: bold;
  border: 2px solid #282c34;
  margin-right: 10px;
  padding: 5px;
}

.userForm, .recipeForm {
  margin: 30px;
  padding: 20px 10px;
  color: white;
  background-color: #282c34;
  text-align: center;
}

.userForm {
  width: 400px;
}

.recipeForm {
  width: 600px;
}

.formField {
  margin-bottom: 10px;
}

label {
  text-align: left;
}

.center {
  display: flex;
  align-items: center;
  flex-direction: column;
}

h3 {
  margin-top: 10px;
  margin-bottom: 5px;
}

form {
  margin-top: 20px;
}

.submit {
  margin-top: 20px;
}

.menu-item {
  display: none;
}

.show {
  display: block;
  background-color: white;
  position: relative;
  
}

@media (max-width: 800px) {
  .navbar {
    grid-template-rows: 50px minmax(150px, 200px);
    grid-template-columns: 1fr;
  }
  
  .navContainer {
    grid-column-start: 1;
    grid-template-rows: repeat(5, minmax(30px, 50px));
    grid-template-columns: 1fr;
    gap: 5px;
  }

  .navContainer a {
    max-width: 100vw;
  }
    
  #title {
    text-align: center;
    font-size: 30px;
    padding: 5px;
  }

  .welcome {
    padding: 10px;
  }
  
  .gitHubLinks {
    margin-top: 10px;
    gap: 20px;
  }
  
  .icon {
    height: 20px;
    width: 20px;
  }

  .recipeList {
    background-color: rgba(31, 29, 29, 0.826);
    padding: 10px;
  }
    
  .background {
    padding: 2px;
  }
  .recipeCard div {
    font-size: 14px;
  }

  .recipeCard {
    height: 150px;
    width: 150px;
  }
  .recipeCard .RCtitle {
    color: #282c34; 
    font-size: large;
    font-weight: bold;
  }
  
  .recipeCardContainer {
    padding: 10px 5px;
    grid-template-columns: repeat(auto-fit, 160px);
    grid-template-rows: repeat(auto-fit, 160px);
    gap: 10px;
  }

  .userForm, .recipeForm {
    margin: 0px;
    padding: 0px 10px 20px 10px;
  }

  form {
    margin-top: 5px;
  }

  textarea {
    width: 90vw;
  }

  .submit {
    margin-top: 10px;
  }
}